<div class="container">

  <div class="d-flex justify-content-between">
    <div class="m-4">
      <h1>A room in <%= @room.hotel.name %> </h1>
      <p>
        <%= @room.hotel.address %>
      </p>
      for <%= @room.capacity %> people
    </div>
    <div class="card m-4" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">price only <%= number_to_euros(@room.price_per_night.to_i / 100) %> </h5>
        <h6 class="card-subtitle mb-4 text-muted">per night</h6>
        <%# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> %>
        <div class="mt5">
          <%= simple_form_for [@room, @booking] do |f| %>
            <%= f.input :starts_at, label: 'pick your dates', as: :string, required: false, input_html: {class: "datepicker"} %>
            <%= f.button :submit, "Book this room !", class: "btn-secondary btn-lg mt-2" %>
          <% end %>
        </div>

      </div>




    </div>
  </div>

  <%= link_to 'back to list', rooms_path, class: 'btn btn-light' %>

</div>
