<div class="container">

<h1>Room </h1>


<h1>
  <%= @room.hotel.name %>
</h1>
<p>
  <%= @room.hotel.address %>
</p>


for <%= @room.capacity %> people

<h2>price <%= number_to_euros(@room.price_per_night.to_i / 100) %></h2>

<%= simple_form_for [@room, @booking] do |f| %>
  <%= f.input :starts_at, label: 'pick your dates', as: :string, required: false, input_html: {class: "datepicker"} %>
  <%= f.submit %>
<% end %>


<%= link_to 'back', rooms_path %>

</div>
